.cta{

 margin:20px 5%;

 height:220px;

 border-radius:40px;

 overflow:hidden;

 position:relative;

 display:flex;

 flex-direction:column;

 align-items:center;

 justify-content:center;

 text-align:center;

 color:white;


 background-image:
 linear-gradient(
  rgba(103,80,164,.55),
  rgba(103,80,164,.55)
 ),
 url("/ayaka/cta-bg.webp");


 background-size:cover;

 background-position:center;

}



/* camada de blur */

.cta::before{

 content:"";

 position:absolute;

 inset:0;

 background:
 rgba(255,255,255,.08);

 backdrop-filter:blur(6px);

 -webkit-backdrop-filter:blur(6px);

 z-index:0;

 pointer-events:none;

}

/* conteúdo */

.cta h2,
.cta p,
.cta button{

 position:relative;

 z-index:2;

}



.cta h2{

 font-size:32px;

 font-weight:800;

 margin:0 0 8px;

}



.cta p{

 margin:0 0 25px;

 font-size:15px;

 opacity:.9;

}



.cta button{

 position:relative;

 z-index:3;

 border:0;

 padding:14px 34px;

 border-radius:50px;

 background:white;

 color:#6750a4;

 font-size:16px;

 font-weight:700;

 cursor:pointer;

}

.button{
 display:inline-flex;
 align-items:center;
 justify-content:center;

 padding:12px 26px;

 border-radius:50px;

 background:#6750a4;
 color:white;

 text-decoration:none;
}
