.box{

background:#fffbfe;

border-radius:28px;

margin-bottom:16px;

overflow:hidden;

box-shadow:
0 10px 30px rgba(103,80,164,.08);

}


.box button{

width:100%;

padding:24px;

border:0;

background:none;

display:flex;

justify-content:space-between;

font-size:20px;

font-weight:700;

color:#1d1b20;

cursor:pointer;

}



.content{

padding:0 24px 24px;

color:#625b71;

font-size:16px;

line-height:1.6;

}
